h1 {
  color: white;
  position: absolute;
  top: 53px;
  right: 16px;
  font-family: "Courier New", Courier, monospace;
}
h2 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  padding: 50px;
  font-size: 60px;
}
h3 {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  text-align: center;
}
p {
  font-family: "Courier New", Courier, monospace;
}

.container {
  text-align: center;
}
.wedding-info {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}
