h1 {
  color: white;
  position: absolute;
  top: 9px;
  right: 16px;
  font-family: "Dancing Script", cursive;
}
h2 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  padding: 50px;
  font-size: 60px;
}
h3 {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  text-align: center;
}
.container {
  text-align: center;
}
.wedding-info {
  font-size: 57px;
}
